Repository swagger-api/swagger-codegen, pull requests merged in 2018-03, with the labels that each got.

#7671 [PHP] Add path & file separator (/) to return the correct path when deserializing a file
  modules/swagger-codegen/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/SwaggerClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/SwaggerClient-php/phpunit.xml.dist
Labels: Client: PHP, Issue: Bug

#7685 Fix performance linting problem with maps in java ApiClient template
  modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache
Labels: Client: Python

#7695 Qt5cpp plug memleaks
  modules/swagger-codegen/src/main/resources/qt5cpp/HttpRequest.cpp.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/api-body.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/helpers-body.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/helpers-header.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/model-body.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/model-header.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/modelFactory.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/object.mustache
  samples/client/petstore/qt5cpp/client/SWGApiResponse.cpp
  samples/client/petstore/qt5cpp/client/SWGApiResponse.h
  samples/client/petstore/qt5cpp/client/SWGCategory.cpp
  samples/client/petstore/qt5cpp/client/SWGCategory.h
  samples/client/petstore/qt5cpp/client/SWGHelpers.cpp
  samples/client/petstore/qt5cpp/client/SWGHelpers.h
  samples/client/petstore/qt5cpp/client/SWGHttpRequest.cpp
  samples/client/petstore/qt5cpp/client/SWGModelFactory.h
  samples/client/petstore/qt5cpp/client/SWGObject.h
  samples/client/petstore/qt5cpp/client/SWGOrder.cpp
  samples/client/petstore/qt5cpp/client/SWGOrder.h
  samples/client/petstore/qt5cpp/client/SWGPet.cpp
  samples/client/petstore/qt5cpp/client/SWGPet.h
  samples/client/petstore/qt5cpp/client/SWGStoreApi.cpp
  samples/client/petstore/qt5cpp/client/SWGTag.cpp
  samples/client/petstore/qt5cpp/client/SWGTag.h
  samples/client/petstore/qt5cpp/client/SWGUser.cpp
  samples/client/petstore/qt5cpp/client/SWGUser.h
  samples/client/petstore/qt5cpp/client/SWGUserApi.cpp
Labels: Client: C++, Issue: Bug

#7723 [PHP] Non required enum property
  modules/swagger-codegen/src/main/resources/php/model_generic.mustache
  modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/php/SwaggerClient-php/docs/Model/EnumTest.md
  samples/client/petstore/php/SwaggerClient-php/lib/Model/EnumArrays.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Order.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Pet.php
  samples/client/petstore/php/SwaggerClient-php/tests/EnumTestTest.php
Labels: Client: PHP, Enhancement: Feature, Feature: Enum

#7717 [PHP] Improve: update sample tests automatically
  bin/php-petstore.sh
  bin/security/php-petstore.sh
  samples/client/petstore-security-test/php/SwaggerClient-php/test/Api/FakeApiTest.php
  samples/client/petstore-security-test/php/SwaggerClient-php/test/Model/ModelReturnTest.php
Labels: Client: PHP, Enhancement: CI/Test

#7750 [Java] fix connection leak on retrofit OAuth token renewal
  modules/swagger-codegen/src/main/resources/Java/libraries/retrofit/auth/OAuth.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/retrofit2/auth/OAuth.mustache
  samples/client/petstore/java/retrofit/src/main/java/io/swagger/client/auth/OAuth.java
  samples/client/petstore/java/retrofit2/src/main/java/io/swagger/client/auth/OAuth.java
  samples/client/petstore/java/retrofit2rx/src/main/java/io/swagger/client/auth/OAuth.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/io/swagger/client/auth/OAuth.java
Labels: Client: Java, Issue: Bug

#7777 [PHP] Fix code example from README. Variable name was missing when using Basic auth.
  modules/swagger-codegen/src/main/resources/php/README.mustache
Labels: Client: PHP, Enhancement: Feature, Feature: Documentation

#7787 [Java][google-api-client] Fix bug with empty POST request not sending content-type
  modules/swagger-codegen/src/main/resources/Java/libraries/google-api-client/api.mustache
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/AnotherFakeApi.java
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/FakeApi.java
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/PetApi.java
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/StoreApi.java
  samples/client/petstore/java/google-api-client/src/main/java/io/swagger/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#7760 [JAVA] Fix #7734: Correct consumes/produces attributes for Spring Controllers
  modules/swagger-codegen/src/main/resources/JavaSpring/api.mustache
  samples/client/petstore/spring-cloud/src/main/java/io/swagger/api/PetApi.java
  samples/client/petstore/spring-cloud/src/main/java/io/swagger/api/StoreApi.java
  samples/client/petstore/spring-cloud/src/main/java/io/swagger/api/UserApi.java
  samples/client/petstore/spring-stubs/src/main/java/io/swagger/api/PetApi.java
  samples/client/petstore/spring-stubs/src/main/java/io/swagger/api/StoreApi.java
  samples/client/petstore/spring-stubs/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/spring-mvc/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/spring-mvc/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/spring-mvc/src/main/java/io/swagger/api/UserApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/io/swagger/api/UserApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot-delegate/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-delegate/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot-delegate/src/main/java/io/swagger/api/UserApiController.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/io/swagger/api/UserApiController.java
  samples/server/petstore/springboot-useoptional/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/io/swagger/api/UserApiController.java
  samples/server/petstore/springboot/src/main/java/io/swagger/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot/src/main/java/io/swagger/api/UserApi.java
  samples/server/petstore/springboot/src/main/java/io/swagger/api/UserApiController.java
Labels: Issue: Bug, Server: Spring

#7792 Qt5cpp plug memleaks part2
  modules/swagger-codegen/src/main/resources/qt5cpp/helpers-body.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/model-body.mustache
  samples/client/petstore/qt5cpp/client/SWGHelpers.cpp
  samples/client/petstore/qt5cpp/client/SWGHelpers.h
  samples/client/petstore/qt5cpp/client/SWGModelFactory.h
  samples/client/petstore/qt5cpp/client/SWGObject.h
Labels: Client: C++, Issue: Bug

#7815 [qt] Fix warning message
  modules/swagger-codegen/src/main/resources/qt5cpp/model-header.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/model.mustache
  samples/client/petstore/qt5cpp/client/SWGApiResponse.h
  samples/client/petstore/qt5cpp/client/SWGCategory.h
  samples/client/petstore/qt5cpp/client/SWGOrder.h
  samples/client/petstore/qt5cpp/client/SWGPet.h
  samples/client/petstore/qt5cpp/client/SWGTag.h
  samples/client/petstore/qt5cpp/client/SWGUser.h
Labels: Client: C++, Enhancement: General

#7813 [qt5cpp] Remove qt5 pro.user file
  .gitignore
  samples/client/petstore/qt5cpp/PetStore/PetStore.pro.user
Labels: Client: C++, Enhancement: General

#7808 Fix nodejs-server path issue in windows platform
  modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java
  samples/server/petstore/nodejs-google-cloud-functions/api/swagger.yaml
  samples/server/petstore/nodejs-google-cloud-functions/service/UserService.js
  samples/server/petstore/nodejs/.swagger-codegen/VERSION
  samples/server/petstore/nodejs/api/swagger.yaml
  samples/server/petstore/nodejs/package.json
  samples/server/petstore/nodejs/service/PetService.js
  samples/server/petstore/nodejs/service/UserService.js
  samples/server/petstore/nodejs/utils/writer.js
Labels: Issue: Platform, Server: Nodejs

#7818 html: fix typo in class name
  modules/swagger-codegen/src/main/resources/htmlDocs/index.mustache
  samples/html.md/.swagger-codegen/VERSION
  samples/html/.swagger-codegen/VERSION
  samples/html/index.html
Labels: Client: HTML, Issue: Bug

#7844 [C++] Add linux as a reserve keyword
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCppCodegen.java
Labels: Client: C++, Enhancement: General

#7769 Check date value before calling to_iso8601
  modules/swagger-codegen/src/main/resources/elixir/deserializer.ex.mustache
Labels: Client: Elixir, Issue: Bug

#7879 Update to newer version of Ruby in Travis config file
  .travis.yml.ios
Labels: Enhancement: CI/Test

#7867 [JAVA] 4709: codegen with parcelableMode fails to build if using arra…
  modules/swagger-codegen/src/main/resources/Java/pojo.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/README.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/EnumTest.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/AdditionalPropertiesClass.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Animal.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/AnimalFarm.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ArrayTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Capitalization.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Cat.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Category.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ClassModel.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Client.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Dog.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/EnumTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/FormatTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/HasOnlyReadOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/MapTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Model200Response.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ModelApiResponse.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ModelReturn.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Name.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/NumberOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/OuterComposite.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/ReadOnlyFirst.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/SpecialModelName.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/Tag.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/io/swagger/client/model/User.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/io/swagger/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/io/swagger/client/api/FakeClassnameTags123ApiTest.java
Labels: Client: Java, Issue: Bug

#7820 [cpprest] Add support for nested vectors
  modules/swagger-codegen/src/main/resources/cpprest/api-source.mustache
  modules/swagger-codegen/src/main/resources/cpprest/apiclient-header.mustache
  modules/swagger-codegen/src/main/resources/cpprest/modelbase-header.mustache
  samples/client/petstore/cpprest/.swagger-codegen/VERSION
  samples/client/petstore/cpprest/ApiClient.cpp
  samples/client/petstore/cpprest/ApiClient.h
  samples/client/petstore/cpprest/ApiConfiguration.cpp
  samples/client/petstore/cpprest/ApiConfiguration.h
  samples/client/petstore/cpprest/ApiException.cpp
  samples/client/petstore/cpprest/ApiException.h
  samples/client/petstore/cpprest/HttpContent.cpp
  samples/client/petstore/cpprest/HttpContent.h
  samples/client/petstore/cpprest/IHttpBody.h
  samples/client/petstore/cpprest/JsonBody.cpp
  samples/client/petstore/cpprest/JsonBody.h
  samples/client/petstore/cpprest/ModelBase.cpp
  samples/client/petstore/cpprest/ModelBase.h
  samples/client/petstore/cpprest/MultipartFormData.cpp
  samples/client/petstore/cpprest/MultipartFormData.h
  samples/client/petstore/cpprest/Object.cpp
  samples/client/petstore/cpprest/Object.h
  samples/client/petstore/cpprest/api/PetApi.cpp
  samples/client/petstore/cpprest/api/PetApi.h
  samples/client/petstore/cpprest/api/StoreApi.cpp
  samples/client/petstore/cpprest/api/StoreApi.h
  samples/client/petstore/cpprest/api/UserApi.cpp
  samples/client/petstore/cpprest/api/UserApi.h
  samples/client/petstore/cpprest/git_push.sh
  samples/client/petstore/cpprest/model/ApiResponse.cpp
  samples/client/petstore/cpprest/model/ApiResponse.h
  samples/client/petstore/cpprest/model/Category.cpp
  samples/client/petstore/cpprest/model/Category.h
  samples/client/petstore/cpprest/model/Order.cpp
  samples/client/petstore/cpprest/model/Order.h
  samples/client/petstore/cpprest/model/Pet.cpp
  samples/client/petstore/cpprest/model/Pet.h
  samples/client/petstore/cpprest/model/Tag.cpp
  samples/client/petstore/cpprest/model/Tag.h
  samples/client/petstore/cpprest/model/User.cpp
  samples/client/petstore/cpprest/model/User.h
Labels: Client: C++, Enhancement: General

#7814 Factorize addOption/addSwitch method
  modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractAdaCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractKotlinCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CppRestClientCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/RestbedCodegen.java
Labels: Enhancement: Feature, Feature: Codegen

#7774 Improve JMeter Template : Fix Issue 7773
  modules/swagger-codegen/src/main/resources/JMeter/api.mustache
  samples/client/petstore/jmeter/PetApi.jmx
  samples/client/petstore/jmeter/StoreApi.jmx
  samples/client/petstore/jmeter/UserApi.jmx
Labels: Client: JMeter, Issue: Bug

#7840 [qt5cpp] delete callback data allocated before signal emission
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java
  modules/swagger-codegen/src/main/resources/qt5cpp/Project.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/QObjectWrapper.h.mustache
  modules/swagger-codegen/src/main/resources/qt5cpp/api-body.mustache
  samples/client/petstore/qt5cpp/PetStore/PetApiTests.cpp
  samples/client/petstore/qt5cpp/client/SWGPetApi.cpp
  samples/client/petstore/qt5cpp/client/SWGQObjectWrapper.h
  samples/client/petstore/qt5cpp/client/SWGStoreApi.cpp
  samples/client/petstore/qt5cpp/client/SWGUserApi.cpp
  samples/client/petstore/qt5cpp/client/client.pri
Labels: Client: C++, Enhancement: General

#7860 Fix strict class initialisation in auth classes
  modules/swagger-codegen/src/main/resources/typescript-node/api.mustache
  samples/client/petstore/typescript-node/default/.swagger-codegen/VERSION
  samples/client/petstore/typescript-node/default/api.ts
  samples/client/petstore/typescript-node/npm/.swagger-codegen/VERSION
  samples/client/petstore/typescript-node/npm/api.d.ts
  samples/client/petstore/typescript-node/npm/api.js
  samples/client/petstore/typescript-node/npm/api.js.map
  samples/client/petstore/typescript-node/npm/api.ts
  samples/client/petstore/typescript-node/npm/package-lock.json
  samples/client/petstore/typescript-node/npm/package.json
Labels: Client: TypeScript, Issue: Bug

#7883 Fix inputSpec for multi module builds
  modules/swagger-codegen-maven-plugin/README.md
Labels: Enhancement: General, Swagger Codegen Maven Plugin

#7899 [NodeJS] make serverPort configurable via CLI option
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/options/NodeJSServerOptionsProvider.java
Labels: Enhancement: Feature, Server: Nodejs

#7861 Fix typescript-node generation of array type models
  modules/swagger-codegen/src/main/resources/typescript-node/api.mustache
Labels: Client: TypeScript, Issue: Bug

#7943 [Swift 3] removing trailing spaces
  modules/swagger-codegen/src/main/resources/swift3/APIHelper.mustache
  modules/swagger-codegen/src/main/resources/swift3/Configuration.mustache
  modules/swagger-codegen/src/main/resources/swift3/Models.mustache
  modules/swagger-codegen/src/main/resources/swift3/api.mustache
  modules/swagger-codegen/src/main/resources/swift3/git_push.sh.mustache
  modules/swagger-codegen/src/main/resources/swift3/gitignore.mustache
  samples/client/petstore/swift3/default/.gitignore
  samples/client/petstore/swift3/default/PetstoreClient/Classes/Swaggers/APIHelper.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/Swaggers/Configuration.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/Swaggers/Models.swift
  samples/client/petstore/swift3/default/git_push.sh
  samples/client/petstore/swift3/objcCompatible/.gitignore
  samples/client/petstore/swift3/objcCompatible/PetstoreClient/Classes/Swaggers/APIHelper.swift
  samples/client/petstore/swift3/objcCompatible/PetstoreClient/Classes/Swaggers/Configuration.swift
  samples/client/petstore/swift3/objcCompatible/PetstoreClient/Classes/Swaggers/Models.swift
  samples/client/petstore/swift3/objcCompatible/git_push.sh
  samples/client/petstore/swift3/promisekit/.gitignore
  samples/client/petstore/swift3/promisekit/PetstoreClient/Classes/Swaggers/APIHelper.swift
  samples/client/petstore/swift3/promisekit/PetstoreClient/Classes/Swaggers/Configuration.swift
  samples/client/petstore/swift3/promisekit/PetstoreClient/Classes/Swaggers/Models.swift
  samples/client/petstore/swift3/promisekit/git_push.sh
  samples/client/petstore/swift3/rxswift/.gitignore
  samples/client/petstore/swift3/rxswift/PetstoreClient/Classes/Swaggers/APIHelper.swift
  samples/client/petstore/swift3/rxswift/PetstoreClient/Classes/Swaggers/Configuration.swift
  samples/client/petstore/swift3/rxswift/PetstoreClient/Classes/Swaggers/Models.swift
  samples/client/petstore/swift3/rxswift/git_push.sh
  samples/client/petstore/swift3/unwraprequired/.gitignore
  samples/client/petstore/swift3/unwraprequired/PetstoreClient/Classes/Swaggers/APIHelper.swift
  samples/client/petstore/swift3/unwraprequired/PetstoreClient/Classes/Swaggers/Configuration.swift
  samples/client/petstore/swift3/unwraprequired/PetstoreClient/Classes/Swaggers/Models.swift
  samples/client/petstore/swift3/unwraprequired/git_push.sh
Labels: Client: Swift, Enhancement: Code format

#7859 Make optional properties in models optional parameters
  modules/swagger-codegen/src/main/resources/typescript-node/api.mustache
  samples/client/petstore/typescript-node/default/api.ts
  samples/client/petstore/typescript-node/npm/.swagger-codegen-ignore
  samples/client/petstore/typescript-node/npm/api.d.ts
  samples/client/petstore/typescript-node/npm/api.ts
Labels: Client: TypeScript, Issue: Bug
