Repository swagger-api/swagger-codegen, pull requests merged in 2018-05, with the labels that each got.

#8057 Fix read on closed body.
  bin/go-petstore-withxml.sh
  modules/swagger-codegen/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore-withXml/README.md
  samples/client/petstore/go/go-petstore-withXml/api/swagger.yaml
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore-withXml/docs/AnotherFakeApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/FakeApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/FakeClassnameTags123Api.md
  samples/client/petstore/go/go-petstore-withXml/docs/PetApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/StoreApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/UserApi.md
  samples/client/petstore/go/go-petstore/README.md
  samples/client/petstore/go/go-petstore/api/swagger.yaml
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/docs/FakeApi.md
Labels: Client: Go, Issue: Bug

#8085 Camelize Kotlin model names and filenames
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractKotlinCodegen.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Client: Kotlin, Issue: Bug

#8114 [rust-server] Enhance middleware support (+ perf fix)
  modules/swagger-codegen/src/main/resources/rust-server/Cargo.mustache
  modules/swagger-codegen/src/main/resources/rust-server/client-mod.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-client.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server_lib.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server_server.mustache
  modules/swagger-codegen/src/main/resources/rust-server/lib.mustache
  modules/swagger-codegen/src/main/resources/rust-server/server-auth.mustache
  modules/swagger-codegen/src/main/resources/rust-server/server-mod.mustache
  run-in-docker.sh
  samples/server/petstore/rust-server/Cargo.toml
  samples/server/petstore/rust-server/README.md
  samples/server/petstore/rust-server/api/swagger.yaml
  samples/server/petstore/rust-server/examples/client.rs
  samples/server/petstore/rust-server/examples/server.rs
  samples/server/petstore/rust-server/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/examples/server_lib/server.rs
  samples/server/petstore/rust-server/src/client/mod.rs
  samples/server/petstore/rust-server/src/lib.rs
  samples/server/petstore/rust-server/src/mimetypes.rs
  samples/server/petstore/rust-server/src/server/auth.rs
  samples/server/petstore/rust-server/src/server/mod.rs
Labels: Enhancement: General, Server: Rust

#8096 [Clojure] Default */* MIME to application/json
  modules/swagger-codegen/src/main/resources/clojure/core.mustache
  samples/client/petstore/clojure/git_push.sh
  samples/client/petstore/clojure/project.clj
  samples/client/petstore/clojure/src/swagger_petstore/api/pet.clj
  samples/client/petstore/clojure/src/swagger_petstore/api/store.clj
  samples/client/petstore/clojure/src/swagger_petstore/api/user.clj
  samples/client/petstore/clojure/src/swagger_petstore/core.clj
Labels: Client: Clojure, Enhancement: General

#8094 Fix context import order
  modules/swagger-codegen/src/main/resources/go/api.mustache
  modules/swagger-codegen/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore-withXml/README.md
  samples/client/petstore/go/go-petstore-withXml/api/swagger.yaml
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore-withXml/docs/AnotherFakeApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/FakeApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/FakeClassnameTags123Api.md
  samples/client/petstore/go/go-petstore-withXml/docs/PetApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/StoreApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/UserApi.md
  samples/client/petstore/go/go-petstore/README.md
  samples/client/petstore/go/go-petstore/api/swagger.yaml
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/docs/FakeApi.md
Labels: Client: Go, Enhancement: General

#8084 Add support for typealiases in Kotlin client
  modules/swagger-codegen/src/main/resources/kotlin-client/model.mustache
Labels: Client: Kotlin, Enhancement: General

#8069 Adapt Python README template, fixes #7269
  modules/swagger-codegen/src/main/resources/python/README.mustache
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#8056 [codegen][java]Issue 8055: create javadoc and source jar from gradle build
  modules/swagger-codegen/src/main/resources/Java/build.gradle.mustache
Labels: Client: Java, Enhancement: General

#8157 Strict Typescript output of discriminator (PHNX-805) (#1)
  modules/swagger-codegen/src/main/resources/typescript-node/api.mustache
  samples/client/petstore/typescript-node/default/api.ts
Labels: Client: TypeScript, Enhancement: General

#8156 update typescript-node `package-lock.json`
  samples/client/petstore/typescript-node/npm/package-lock.json
Labels: Issue: Security

#8172 Comment out scalaz test due to sbt error
  pom.xml.circleci
  pom.xml.circleci.java7
Labels: Enhancement: CI/Test
