Repository swagger-api/swagger-codegen, pull requests merged in 2018-02, with the labels that each got.

#7613 [MAVEN PLUGIN] Checking for null configOptions before looking for property
  modules/swagger-codegen-maven-plugin/src/main/java/io/swagger/codegen/plugin/CodeGenMojo.java
Labels: Enhancement: General, Swagger Codegen Maven Plugin

#7633 [NodeJS][Server] fix NPE when host is undefined
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java
  modules/swagger-codegen/src/test/resources/2_0/petstore.yaml
  samples/server/petstore/nodejs-google-cloud-functions/.swagger-codegen/VERSION
  samples/server/petstore/nodejs-google-cloud-functions/api/swagger.yaml
  samples/server/petstore/nodejs-google-cloud-functions/service/PetService.js
  samples/server/petstore/nodejs-google-cloud-functions/service/UserService.js
  samples/server/petstore/nodejs-google-cloud-functions/utils/writer.js
Labels: Issue: Bug, Server: Nodejs

#7630 [Rust] Changes hard coded body to dynamic parameter name - Fixes #6569
  modules/swagger-codegen/src/main/resources/rust/api.mustache
Labels: Client: Rust, Issue: Bug

#7635 7616 correct body params filename
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ScalaGatlingCodegen.java
  modules/swagger-codegen/src/main/resources/scala-gatling/build.gradle
Labels: Client: Scala, Issue: Bug

#7605 Java Jersey2: Make generated client code thread safe
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java
  modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/ApiResponse.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/api.mustache
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/ApiResponse.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/AnotherFakeApi.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/FakeApi.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/PetApi.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/StoreApi.java
  samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#7597 Kotlin: Correct data_class.mustache to use proper property for inner enum data type
  modules/swagger-codegen/src/main/resources/kotlin-client/data_class.mustache
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/models/Order.kt
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/models/Pet.kt
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#7645 7644 objc deprecated afnetworking datataskwithrequest
  modules/swagger-codegen/src/main/resources/objc/ApiClient-body.mustache
  samples/client/petstore-security-test/objc/SwaggerClient/Core/SWGApiClient.h
  samples/client/petstore-security-test/objc/SwaggerClient/Core/SWGApiClient.m
  samples/client/petstore-security-test/objc/git_push.sh
  samples/client/petstore/objc/default/SwaggerClient/Core/SWGApiClient.m
  samples/client/petstore/objc/default/git_push.sh
Labels: Client: Objc, Enhancement: Compatibility

#7629 [kotlin] Fix NPE for POST/PUT/PATCH with empty request models.
  modules/swagger-codegen/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#7636 Properly capitalize exported go types
  modules/swagger-codegen/src/main/resources/go/model.mustache
Labels: Client: Go, Issue: Bug

#7675 [PHP] Run unit tests on 'tests' directory
  samples/client/petstore/php/SwaggerClient-php/pom.xml
Labels: Client: PHP, Enhancement: CI/Test

#7684 Fix inconsistency between model name and file name in python client
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Issue: Bug

#7655 [Ada] Fix #7569 by defining x-is-model-type when property is local to the YML file
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractAdaCodegen.java
Labels: Client: Ada, Issue: Bug, Server: Ada

#7607 [Java][Spring] fix optional query params missing in generated swagger
  modules/swagger-codegen/src/main/resources/JavaSpring/libraries/spring-boot/swagger2SpringBoot.mustache
  modules/swagger-codegen/src/main/resources/JavaSpring/swaggerDocumentationConfig.mustache
  samples/server/petstore/springboot-beanvalidation/src/main/java/io/swagger/Swagger2SpringBoot.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/io/swagger/Swagger2SpringBoot.java
  samples/server/petstore/springboot-delegate/src/main/java/io/swagger/Swagger2SpringBoot.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/io/swagger/Swagger2SpringBoot.java
  samples/server/petstore/springboot-useoptional/src/main/java/io/swagger/Swagger2SpringBoot.java
  samples/server/petstore/springboot-useoptional/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  samples/server/petstore/springboot/src/main/java/io/swagger/Swagger2SpringBoot.java
Labels: Issue: Usage/Installation, Server: Java, Server: Spring

#7728 [elm] missing '->' in Main elm template
  modules/swagger-codegen/src/main/resources/elm/Main.mustache
  samples/client/petstore/elm/.swagger-codegen/VERSION
  samples/client/petstore/elm/README.md
  samples/client/petstore/elm/src/Main.elm
Labels: Client: Elm, Issue: Bug

#7729 [Elm] Add support for array schemas
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ElmClientCodegen.java
  modules/swagger-codegen/src/main/resources/elm/aliasDecoder.mustache
  modules/swagger-codegen/src/main/resources/elm/aliasEncoder.mustache
  modules/swagger-codegen/src/main/resources/elm/modelTypeAlias.mustache
Labels: Client: Elm, Enhancement: General
