Repository swagger-api/swagger-codegen, pull requests merged in 2018-04, with the labels that each got.

#7896 [rust-server] asynchronous support via hyper v0.11
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/RustServerCodegen.java
  modules/swagger-codegen/src/main/resources/rust-server/Cargo.mustache
  modules/swagger-codegen/src/main/resources/rust-server/client-mod.mustache
  modules/swagger-codegen/src/main/resources/rust-server/client.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-client.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server_lib.mustache
  modules/swagger-codegen/src/main/resources/rust-server/example-server_server.mustache
  modules/swagger-codegen/src/main/resources/rust-server/lib.mustache
  modules/swagger-codegen/src/main/resources/rust-server/mimetypes.mustache
  modules/swagger-codegen/src/main/resources/rust-server/models.mustache
  modules/swagger-codegen/src/main/resources/rust-server/server-auth.mustache
  modules/swagger-codegen/src/main/resources/rust-server/server-mod.mustache
  modules/swagger-codegen/src/main/resources/rust-server/server.mustache
  modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/rust2/examples/server_lib/server.rs
  samples/server/petstore/rust-server/.swagger-codegen/VERSION
  samples/server/petstore/rust-server/Cargo.toml
  samples/server/petstore/rust-server/README.md
  samples/server/petstore/rust-server/api/swagger.yaml
  samples/server/petstore/rust-server/examples/client.rs
  samples/server/petstore/rust-server/examples/server.rs
  samples/server/petstore/rust-server/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/examples/server_lib/server.rs
  samples/server/petstore/rust-server/src/client.rs
  samples/server/petstore/rust-server/src/client/mod.rs
  samples/server/petstore/rust-server/src/lib.rs
  samples/server/petstore/rust-server/src/mimetypes.rs
  samples/server/petstore/rust-server/src/server.rs
  samples/server/petstore/rust-server/src/server/auth.rs
  samples/server/petstore/rust-server/src/server/mod.rs
Labels: Enhancement: Feature, Server: Rust

#7338 [Rust] Implement minimal auth support
  modules/swagger-codegen/src/main/resources/rust/api.mustache
  modules/swagger-codegen/src/main/resources/rust/configuration.mustache
  samples/client/petstore/rust/docs/UserApi.md
  samples/client/petstore/rust/src/apis/configuration.rs
  samples/client/petstore/rust/src/apis/pet_api.rs
  samples/client/petstore/rust/src/apis/store_api.rs
  samples/client/petstore/rust/src/apis/user_api.rs
Labels: Client: Rust, Enhancement: General

#7950 Update ObjcClientCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java
Labels: Client: Objc, Enhancement: General

#7933 [qt5cpp] Fix crash when API return a map container
  modules/swagger-codegen/src/main/resources/qt5cpp/api-body.mustache
  samples/client/petstore/qt5cpp/client/SWGStoreApi.cpp
Labels: Client: C++, Issue: Bug

#7956 Additional reserved python keywords
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FlaskConnexionCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Enhancement: General

#7908 [kotlin] Add json annotation to each enum value.
  modules/swagger-codegen/src/main/resources/kotlin-client/data_class.mustache
  modules/swagger-codegen/src/main/resources/kotlin-client/enum_class.mustache
  samples/client/petstore/kotlin-string/docs/UserApi.md
  samples/client/petstore/kotlin-string/src/main/kotlin/io/swagger/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/io/swagger/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/io/swagger/client/models/Order.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/io/swagger/client/models/Pet.kt
  samples/client/petstore/kotlin-threetenbp/docs/UserApi.md
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/io/swagger/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/io/swagger/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/io/swagger/client/models/Order.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/io/swagger/client/models/Pet.kt
  samples/client/petstore/kotlin/docs/UserApi.md
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/models/Order.kt
  samples/client/petstore/kotlin/src/main/kotlin/io/swagger/client/models/Pet.kt
Labels: Client: Kotlin, Enhancement: General

#7886 Modify "postProcessOperations" for "jaxrs-cxf-client"
  bin/jaxrs-cxf-client-petstore.sh
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaCXFClientCodegen.java
  samples/client/petstore/jaxrs-cxf-client/.swagger-codegen-ignore
  samples/client/petstore/jaxrs-cxf-client/.swagger-codegen/VERSION
  samples/client/petstore/jaxrs-cxf-client/pom.xml
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/api/PetApi.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/api/StoreApi.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/api/UserApi.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/Category.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/ModelApiResponse.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/Order.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/Pet.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/Tag.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/io/swagger/model/User.java
  samples/client/petstore/jaxrs-cxf-client/src/main/java/io/swagger/api/impl/PetApiServiceImpl.java
  samples/client/petstore/jaxrs-cxf-client/src/main/java/io/swagger/api/impl/StoreApiServiceImpl.java
  samples/client/petstore/jaxrs-cxf-client/src/main/java/io/swagger/api/impl/UserApiServiceImpl.java
  samples/client/petstore/jaxrs-cxf-client/src/test/java/io/swagger/api/PetApiTest.java
  samples/client/petstore/jaxrs-cxf-client/src/test/java/io/swagger/api/StoreApiTest.java
  samples/client/petstore/jaxrs-cxf-client/src/test/java/io/swagger/api/UserApiTest.java
Labels: Issue: Bug, Server: Java

#7969 [rust-server] API version constant and composite version support
  modules/swagger-codegen/src/main/resources/rust-server/Cargo.mustache
  modules/swagger-codegen/src/main/resources/rust-server/lib.mustache
  samples/server/petstore/rust-server/Cargo.toml
  samples/server/petstore/rust-server/README.md
  samples/server/petstore/rust-server/api/swagger.yaml
  samples/server/petstore/rust-server/src/lib.rs
  samples/server/petstore/rust-server/src/models.rs
Labels: Enhancement: General, Server: Rust

#7921 [Swift4] accept empty content with default client
  modules/swagger-codegen/src/main/resources/swift4/api.mustache
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/AnotherfakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/FakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/PetAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/StoreAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/Swaggers/APIs/UserAPI.swift
  samples/client/petstore/swift4/default/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Local Podspecs/PetstoreClient.podspec.json
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Manifest.lock
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Pods.xcodeproj/project.pbxproj
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Alamofire/Alamofire.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/PetstoreClient/PetstoreClient.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient-frameworks.sh
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient.debug.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient.release.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests-frameworks.sh
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests.debug.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests.release.xcconfig
  samples/client/petstore/swift4/default/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift4/default/SwaggerClientTests/SwaggerClientTests/StoreAPITests.swift
  samples/client/petstore/swift4/default/SwaggerClientTests/SwaggerClientTests/UserAPITests.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/AnotherfakeAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/FakeAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/PetAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/StoreAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/Swaggers/APIs/UserAPI.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/AnotherfakeAPI.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/FakeAPI.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/PetAPI.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/StoreAPI.swift
  samples/client/petstore/swift4/promisekit/PetstoreClient/Classes/Swaggers/APIs/UserAPI.swift
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Local Podspecs/PetstoreClient.podspec.json
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Manifest.lock
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Pods.xcodeproj/project.pbxproj
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Alamofire/Alamofire.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/PetstoreClient/PetstoreClient.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient-frameworks.sh
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient.debug.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClient/Pods-SwaggerClient.release.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests-frameworks.sh
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests.debug.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/Pods-SwaggerClientTests/Pods-SwaggerClientTests.release.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/Pods/Target Support Files/PromiseKit/PromiseKit.xcconfig
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/SwaggerClientTests/StoreAPITests.swift
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/SwaggerClientTests/UserAPITests.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/AnotherfakeAPI.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/FakeAPI.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/PetAPI.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/StoreAPI.swift
  samples/client/petstore/swift4/rxswift/PetstoreClient/Classes/Swaggers/APIs/UserAPI.swift
  samples/client/test/swift4/default/TestClient/Classes/Swaggers/APIs/Swift4TestAPI.swift
Labels: Client: Swift, Issue: Bug

#7898 Misc typescript Angular code generation improvements
  modules/swagger-codegen/src/main/resources/typescript-angular/api.module.mustache
  modules/swagger-codegen/src/main/resources/typescript-angular/api.service.mustache
  modules/swagger-codegen/src/main/resources/typescript-angular/modelEnum.mustache
  modules/swagger-codegen/src/main/resources/typescript-angular/modelGenericEnums.mustache
  samples/client/petstore/typescript-angular-v2/default/api.module.ts
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/default/model/order.ts
  samples/client/petstore/typescript-angular-v2/default/model/pet.ts
  samples/client/petstore/typescript-angular-v2/npm/api.module.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/model/order.ts
  samples/client/petstore/typescript-angular-v2/npm/model/pet.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api.module.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.serviceInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/model/order.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/model/pet.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api.module.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/model/order.ts
  samples/client/petstore/typescript-angular-v4.3/npm/model/pet.ts
  samples/client/petstore/typescript-angular-v4/npm/api.module.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/model/order.ts
  samples/client/petstore/typescript-angular-v4/npm/model/pet.ts
Labels: Client: TypeScript, Enhancement: Code format

#7981 Removed a duplicated entry in the config file
  modules/swagger-codegen/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig
Labels: Enhancement: General

#7983 Remove TypescriptInversifyAdditionalPropertiesIntegrationTest.java to fix integration tests
  modules/swagger-codegen/src/test/java/io/swagger/codegen/typescript/typescriptinversify/TypescriptInversifyAdditionalPropertiesIntegrationTest.java
Labels: Issue: Bug

#7807 [Jaxrs-cxf] Add bean-level cascaded beanvalidation for pojos (@Valid) fix #4738
  bin/windows/jaxrs-cxf-petstore-server.bat
  modules/swagger-codegen/src/main/resources/JavaJaxRS/cxf/model.mustache
  modules/swagger-codegen/src/main/resources/JavaJaxRS/cxf/pojo.mustache
  samples/server/petstore/jaxrs-cxf/.swagger-codegen/VERSION
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/api/FakeClassnameTags123Api.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/api/StoreApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/AdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Animal.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/AnimalFarm.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ArrayOfArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ArrayTest.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Capitalization.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Cat.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Category.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ClassModel.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Client.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Dog.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/EnumArrays.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/EnumClass.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/EnumTest.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/FormatTest.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/HasOnlyReadOnly.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/MapTest.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Model200Response.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ModelReturn.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Name.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/NumberOnly.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Order.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/OuterComposite.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/OuterEnum.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Pet.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/ReadOnlyFirst.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/SpecialModelName.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/Tag.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/io/swagger/model/User.java
  samples/server/petstore/jaxrs-cxf/src/main/java/io/swagger/api/impl/FakeClassnameTags123ApiServiceImpl.java
Labels: Enhancement: Feature, Server: Java

#7873 [aspnetcore] Update Dockerfile
  modules/swagger-codegen/src/main/resources/aspnetcore/Dockerfile.mustache
  samples/server/petstore/aspnetcore/.swagger-codegen/VERSION
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Dockerfile
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/swagger-original.json
Labels: Docker, Enhancement: General, Server: C-Sharp

#8009 Add HideGenerationTimestamp getter and setter in CodegenConfig
  modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenConfig.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java
Labels: Enhancement: General

#8013 Allow to set values with setApiPackage(..) and setModelPackage(..)
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractPhpCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AndroidClientCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientCodegen.java
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/android/AndroidClientCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/java/AbstractJavaCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/java/jaxrs/AbstractJavaJAXRSServerCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/javascript/JavascriptClientCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/languages/JavaClientCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/php/AbstractPhpCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/php/PhpClientCodegenTest.java
  modules/swagger-codegen/src/test/java/io/swagger/codegen/ruby/RubyClientCodegenTest.java
Labels: Enhancement: General

#7991 Added vendorExtensions.x-isPrimitive.
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientCodegen.java
  modules/swagger-codegen/src/main/resources/Javascript/partial_model_generic.mustache
Labels: Client: JavaScript/Node.js, Enhancement: General

#7479 [TypeScript][Angular] fix date path parameters (#7476, #7302)
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java
  samples/client/petstore/typescript-angular-v2/with-interfaces/README.md
Labels: Client: TypeScript, Issue: Bug

#7975 typescript-angular: added Interfaces to api exports if withInterfaces is selected
  modules/swagger-codegen/src/main/resources/typescript-angular/api.service.mustache
  modules/swagger-codegen/src/main/resources/typescript-angular/apiInterface.mustache
  modules/swagger-codegen/src/main/resources/typescript-angular/apis.mustache
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/api.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.serviceInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.serviceInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.serviceInterface.ts
Labels: Client: TypeScript, Enhancement: Feature

#8033 [typescript][angular] query parameter with null value should not be set
  modules/swagger-codegen/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/README.md
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/package.json
  samples/client/petstore/typescript-angular-v2/with-interfaces/tsconfig.json
  samples/client/petstore/typescript-angular-v2/with-interfaces/typings.json
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v5/npm/api.module.ts
  samples/client/petstore/typescript-angular-v5/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v5/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v5/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v5/npm/model/order.ts
  samples/client/petstore/typescript-angular-v5/npm/model/pet.ts
Labels: Client: TypeScript, Issue: Bug

#8052 [JAVA][Rest-assured] Version rest-assured has been updated to 3.1.0
  README.md
  modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java
  modules/swagger-codegen/src/main/resources/Java/libraries/rest-assured/api.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/rest-assured/build.sbt.mustache
  modules/swagger-codegen/src/main/resources/Java/libraries/rest-assured/pom.mustache
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/rest-assured/build.sbt
  samples/client/petstore/java/rest-assured/docs/EnumTest.md
  samples/client/petstore/java/rest-assured/docs/FakeApi.md
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/AnotherFakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/FakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/PetApi.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/StoreApi.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/api/UserApi.java
  samples/client/petstore/java/rest-assured/src/main/java/io/swagger/client/model/EnumTest.java
Labels: Client: Java, Enhancement: General

#7959 [Dart] Fixes TypeError in Dart 2 mode
  modules/swagger-codegen/src/main/resources/dart/api.mustache
  modules/swagger-codegen/src/main/resources/dart/class.mustache
  samples/client/petstore/dart/flutter_petstore/swagger/README.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/PetApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/StoreApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/UserApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/pet_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/store_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/user_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api_client.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/user.dart
  samples/client/petstore/dart/swagger-browser-client/README.md
  samples/client/petstore/dart/swagger-browser-client/docs/PetApi.md
  samples/client/petstore/dart/swagger-browser-client/docs/StoreApi.md
  samples/client/petstore/dart/swagger-browser-client/docs/UserApi.md
  samples/client/petstore/dart/swagger-browser-client/lib/api/pet_api.dart
  samples/client/petstore/dart/swagger-browser-client/lib/api/store_api.dart
  samples/client/petstore/dart/swagger-browser-client/lib/api/user_api.dart
  samples/client/petstore/dart/swagger-browser-client/lib/api_client.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/category.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/order.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/pet.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/tag.dart
  samples/client/petstore/dart/swagger-browser-client/lib/model/user.dart
  samples/client/petstore/dart/swagger/README.md
  samples/client/petstore/dart/swagger/docs/PetApi.md
  samples/client/petstore/dart/swagger/docs/StoreApi.md
  samples/client/petstore/dart/swagger/docs/UserApi.md
  samples/client/petstore/dart/swagger/lib/api/pet_api.dart
  samples/client/petstore/dart/swagger/lib/api/store_api.dart
  samples/client/petstore/dart/swagger/lib/api/user_api.dart
  samples/client/petstore/dart/swagger/lib/api_client.dart
  samples/client/petstore/dart/swagger/lib/model/api_response.dart
  samples/client/petstore/dart/swagger/lib/model/category.dart
  samples/client/petstore/dart/swagger/lib/model/order.dart
  samples/client/petstore/dart/swagger/lib/model/pet.dart
  samples/client/petstore/dart/swagger/lib/model/tag.dart
  samples/client/petstore/dart/swagger/lib/model/user.dart
Labels: Client: Dart, Issue: Bug

#7973 change parseDate in es6/APIClient
  modules/swagger-codegen/src/main/resources/Javascript/es6/ApiClient.mustache
Labels: Client: JavaScript/Node.js, Issue: Bug

#7954 [PHP] Improve duplicated validation logic
  modules/swagger-codegen/src/main/resources/php/model_generic.mustache
  samples/client/petstore-security-test/php/SwaggerClient-php/lib/Model/ModelReturn.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/AdditionalPropertiesClass.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Animal.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/AnimalFarm.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ApiResponse.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ArrayOfArrayOfNumberOnly.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ArrayOfNumberOnly.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ArrayTest.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Capitalization.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Cat.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Category.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ClassModel.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Client.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Dog.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/EnumArrays.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/HasOnlyReadOnly.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/MapTest.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Model200Response.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ModelList.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ModelReturn.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Name.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/NumberOnly.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Order.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/OuterBoolean.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/OuterComposite.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/OuterNumber.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/OuterString.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Pet.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/ReadOnlyFirst.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/SpecialModelName.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/Tag.php
  samples/client/petstore/php/SwaggerClient-php/lib/Model/User.php
Labels: Client: PHP, Enhancement: General
